h1 {
    color: white;
    background-color: blue;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    text-align: center;
    border: 3px solid red;
    margin: 10px;
    padding: 8px;
}

.red {
    color: red;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    letter-spacing: 2px;
}

.blue {
    color: blue;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    letter-spacing: 2px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    letter-spacing: 2px;
}

h3.info {
    color: yellow;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    letter-spacing: 2px;
}

p.red.yellow {                                            /*Inheritence */
    border: 6px dashed red;
}

/* #content {
    background-color: antiquewhite;
    padding: 30px;
} 

div .red {
    color: red;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    letter-spacing: 2px;
} */

/* a[href="https://www.google.com"] {
    border: 1px solid orange;
    padding: auto;
    color: orange;
    background-color: blue;
 
} */

a[href] {
    border: 1px solid red;
    padding: auto;
    color: white;
    background-color: blue;
}

